<div class="pp-banner">
    <header class="header p-3">
        <div class="container-fluid d-flex align-items-center">
            <div class="logo-container">
                <span class="logo fw-bold fs-3">LOGO</span>
            </div>
            <div class="menu-container d-none d-xl-flex d-flex mx-5 align-items-center justify-content-center w-100">
                <div class="text-list">
                    <ul class="list-unstyled d-inline-flex gap-3 mb-0">
                        <li>
                            <a class="text-decoration-none text-black fw-medium fs-6" href="http://" target="_blank"
                                rel="noopener noreferrer">Find tutors</a>
                        </li>
                        <li>
                            <a class="text-decoration-none text-black fw-medium fs-6" href="http://" target="_blank"
                                rel="noopener noreferrer">Corporate training</a>
                        </li>
                        <li>
                            <a class="text-decoration-none text-black fw-medium fs-6" href="http://" target="_blank"
                                rel="noopener noreferrer">Become a tutor</a>
                        </li>
                    </ul>
                </div>
                <div class="ms-auto"></div>
                <div class="dropdown">
                    <button class="btn btn-transaprent dropdown-toggle border-0" type="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        English, USD
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </div>
                <div class="icon"></div>
                <button type="button" class="btn border border-dark border-2 bg-transparent">
                    Log In
                </button>
            </div>
        </div>
    </header>

    <div class="pp-banner-container pb-5 pt-4">
        <div class="container py-3">
            <div class="row">
                <div class="col-sm-12 col-lg-6 d-none">
                    <div class="hero-image-container">
                        <img class="one" src="../../../assets/home/hero.jpg" alt="" width="496" height="324">
                        <img class="two" src="../../../assets/home/hero.jpg" alt="" width="496" height="324">
                        <img class="three" src="../../../assets/home/hero.jpg" alt="" width="496" height="324">
                    </div>
                </div>
                <div class="col-sm-12 col-lg-6 ms-auto">
                    <div class="banner-text d-flex flex-column gap-5">
                        <h1 class="tag-line display-3 fw-bold">
                            Unlock your potential
                            <br>
                            with the best
                            <br>
                            language tutors.
                        </h1>
                        <div class="d-block">
                            <button type="button"
                                class="btn btn-space gap-2 fw-medium bg-dark btn-lg text-white d-flex align-items-center justify-content-center">
                                Get started
                                <i class="bi bi-arrow-right-short fs-2 mt-1"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-lg-6">
                    <div class="hero-image-container">
                        <img class="one" src="../../../assets/home/hero.jpg" alt="" width="496" height="324">
                        <img class="two" src="../../../assets/home/hero.jpg" alt="" width="496" height="324">
                        <img class="three" src="../../../assets/home/hero.jpg" alt="" width="496" height="324">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-reviews-rating></app-reviews-rating>
<app-tutors></app-tutors>
<app-jumbo1></app-jumbo1>
<app-big-card></app-big-card>